<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
</head>
<body> 

<h3>Create new user</h3>

<div style="width: 50%;">
  <form action="/create"  method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="first_name" placeholder="Your name.." required=true>

    <label for="lname">Last Name</label>                         
    <input type="text" id="lname" name="last_name" placeholder="Your last name.." required=true>

    <label for="country">Email</label>
    <input type="text" id="email" name="email" placeholder="Your last name.." required=true>
              
    <label for="country">Phone Number</label>
    <input type="text" id="phone_number" name="phone_number" placeholder="Your last name.." required=true>
  
    <input type="submit" value="Submit">
  </form>
</div>
</body>                                
</html>

<style type="text/css">
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>